<h1>
  Employee details
</h1>

<hr>

<input type="text" [(ngModel)]=empID>
<button (click)=searchEmp()>Search</button>
<div>
  <div>First Name : {{displayEmpfirstname}}</div>
  <div>Last Name : {{displayEmplastname}}</div>
  <div>Age : {{displayEmpage}}</div>
  <div>Gender : {{displayEmpgender}}</div>
  <div>Email : {{displayEmpemail}}</div>
  <div>Phone : {{displayEmpphone}}</div>
  <div>Address : {{displayEmpaddress}}</div>
  <div>Company : {{displayEmpcompany}}</div>
</div>

<div *ngFor="let employees of empDetailsDisplay">
  <div>First Name : {{employee.firstname}}</div>
</div>

<pre>{{ empDetailsDisplay | json }}</pre>



